.wrapper {
    padding-left: 150px;
    padding-right: 150px;
    background: rgb(0, 0, 0);
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }